#main_body {
    width: 100% !important;
    margin: 0px 0px 0px 30px !important;

}

/*#annotate_biosamples_metadata_div,
#biosamples_metadata_grid table ,
.wide_for_annotations {
    min-width: 1200px !important;
    max-width: 4000px !important;
}*/
#metastore_grid table {
    width: 1400px !important;
}

a.large_link,button.sample_type_ui,
a.large_link,button.big {
    font-size: 18px;
    color: #000 !important;
    margin-right: 12px;
}

.normal_top_margin {

    margin-top: 20px;
}

.normal_bottom_margin {
    margin-bottom: 20px;
}

th.htColHeader {
    width:auto;
}

#controls {
    z-index: 150;
    position:fixed;
    top:100px;
    left: 920px;
    padding: 20px;
    border: solid 10px #5a5a5a;
    background-color: #CCCCCC;
}

#ajax_message {
    margin:12px;
    font-size: 12px;
    width: 800px;

}

#main_control_bar_heading {
  display: inline;
}

#controls table th,#controls table tr, #controls table td{ border-bottom: 1px solid #5a5a5a !important; border-right: 1px solid #5a5a5a; border-top: 1px solid #5a5a5a ; }

/*#samples_header,#dataset_header { width: 300px; }*/
#biosamples_metadata_grid { margin-bottom: 50px; }
table { border-top: 0px; border-left: 0px; border-right: 1px solid #CCC; border-bottom: 1px solid  #CCC;  }
#sortable {
    top:400px;
    left: 300px;
    position: fixed;
    width: 900px;
    padding: 20px;
    border: solid 10px #5a5a5a;
    background-color: #CCCCCC;
}
#ordering_help ul li { padding: 0px !important; height: auto !important; font-size: 16px !important; }
#sortable ul li {
 margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px;
}
#sortable li span { position: absolute; margin-left: -1.3em; }

#sortable button { margin-top: 12px; }

#sortable h1 { margin-bottom: 12px;  font-size: 18px;}

#sortable li div { margin-right: 12px; font-size: 16px; display: inline; }
div.select_column div,div.select_group div { display: inline-block; width: 450px;}
div.select_group input,div.select_group div, div.select_column div, div.select_column input { margin-left: 4px; margin-right: 8px; }

#steps { float:left;width:400px;border: 1px #5a5a5a solid; }
#other { margin-left: 20px;border: 1px #5a5a5a solid;float:left;width:400px; }

#steps td, #steps th,#other td,#other th { text-align:left; border-bottom: 0px; }

div.simplemodal-wrap { overflow:auto !important; }

#simplemodal-container{opacity:0.8; postition:relative !important;}
.handsontable col.rowHeader {
    width: 120px !important;
}
.tt-menu{
    z-index:105 !important;
}
#ols{
    padding:10px 20px 20px 25px;
    width:100% !important;
    margin:20px 20px 20px 0px;
    border:1px solid lightgray;
}
#vis_network {
    width: 100%;
}

/* #labelList {
height: auto; 
-webkit-column-count: 2;
   -moz-column-count: 2;
        column-count: 2;
}

#labelList li {
display: inline-block; 
} */

.iri-source {
    background-color: #ffac1b;
    padding: 2px;
    padding-right: 4px;
    color: white;
    /* font-size: larger; */
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.jstree-anchor {
    /* border: 1px solid black; */
}

.term-description {
    margin-left: 18px;
    margin-top: -5px;
    font-size: 10pt;
    color: gray;
}

.ontology-source,
.term-source {
    padding: 2px 4px 2px 4px;
    font-size: 10pt;
    margin-top: -12px;
}

.ontology-source {
    margin-left: 3px;
}

#search2 {
    /*border: 1px solid lightgray; */
    padding: 20px 20px 15px 20px;
    background-color: white;
    width:100%;
}

#labelList {
    /*border: 1px solid lightgray;*/
    padding:15px;
}

#term-tree {
    padding:15px;
    border-left:1px solid lightgray;
}

input.submit, button.submit{
    background-image: -webkit-linear-gradient(#FF7F26, #FF7F26);
    text-shadow: #FF7F26 1px 1px;   
    border-radius:0px;
    color:white;
    border-color: #FF7F26;
    padding:9px;
}
.radioButton{
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    padding: 2px 4px 2px 4px;
    font-size: 11pt;
    margin-top: -8px;
    font-weight:550;
}
.ontology_data{
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    padding: 2px 4px 2px 4px;
    font-size: 10pt;
    margin-top: -4px;
    margin-left: 14px;
    font-size : 10pt;
    color:gray;
}
.ontology_link{
    text-decoration: underline;
    text-decoration-style:dotted;
    font-size : 10pt;
    color:gray;
}
.ontology_data span{
    font-weight: bold;
}
.search_result{
    margin-bottom:18px;
}
#title_search2{
    margin-left:4px;
}
input[type='radio'], input[type='checkbox'] {
    height: auto !important;
    margin-bottom: 0px !important;
    margin-right: 3px !important;
}
.radioButton a{
    text-decoration: underline;
     text-decoration-style:dotted;
}
#local-searchbox, #submit_button{
    display:inline-block !important;
}
#send_to_ebi{
    margin-left: 10px;
    line-height: 16px;
    text-align: center;
    height: 34px;
}
#next{
    margin-left:5px;
}
.pages{
    margin-left: 25px;
}
#close_button{
    margin-top:10px;
}